.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust height as needed */
}
h1 {
    color: blue;
    font-size: 40px;
}
.result-container p {
    font-size: 30px;
}
